
body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  background-color: #f8f7f5;
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #122620;
  text-align: center;
  width: 100%;
  height: 5.5rem;
}

#flexbox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
}

.logo-navbar {
  width: 100%;
  height: 100%;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icons-L {
  padding-left: 3vh;
  width: 5vh;
  height: 5vh;
}
.navbar-icons-R {
  padding-right: 3vh;
  width: 5vh;
  height: 5vh;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.cart-container {
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.cart-item img {
  width: 150px;
  height: auto;
  margin-right: 10px;
}
.cart-total {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.checkout-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 50px;
}
.checkout-container .order-button,
.paypal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.order-button {
  background: black;
  color: white;
}
.order-button:hover {
  background: #444;
}
.paypal-button {
  background: linear-gradient(90deg, #002d62, #0070ba);
  color: white;
}
.paypal-button:hover {
  background: linear-gradient(90deg, #001f4d, #005ea6);
}
.order-button img {
  height: 25px;
  margin-right: 10px;
}
.paypal-button img {
  height: 16px;
  margin-right: 10px;
}
.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector button {
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-selector button:hover {
  background: #444;
}
